.block.notice
  %h3= t('devise.cancel_account')
  .content
    %table
      %tr
        %td= t('devise.unhappy')
        %td.text-right=  link_to t('devise.cancel_account'), registration_path(resource_name), :confirm => t('assur.general.are_you_sure'), :method => :delete
