html { overflow-y: scroll; }

body {
    background: url('../images/60degree_gray.gif') repeat #EBEBEB;
}

#sidebar ul li {
  border: none;
}

#header {
    background: #333;
}

#header h1 a {
    text-shadow: 0 1px 0 #000;
}

.secondary-navigation ul li.active, .secondary-navigation ul li.active a:hover {
    background-color: #F1F8FE;
    font-weight: bold;
}

#main .block .content {
    padding:0;
}

#main .block .content h2 {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: #F1F8FE;
    padding: 15px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #DADEE5;
}

.fieldset {
    background: #eee;
    padding: 10px;
    border: 1px solid #aaa;
    margin: 15px 0;
}

.form .columns .smallcolumn {
    width: 28%;
}

.form .columns .largecolumn {
    width: 68%;
}

.form .columns .verysmallcolumn {
    width: 18%;
    
}

.form .columns .verylargecolumn {
    width: 78%;
}

.form .threecols .one {
    width: 28%;
    float: left;
    margin: 0 30px 0 0;
}

.form .threecols .two{
    width: 28%;
    float: left;
    margin: 0 30px 0 0;
}

.form .threecols .three {
    width: 28%;
    float: left;
    margin: 0 30px 0 0;
}

.form .fourcols .one {
    width: 15%;
    float: left;
    margin: 0 30px 0 0;
}

.form .fourcols .two{
    width: 15%;
    float: left;
    margin: 0 30px 0 0;
}

.form .fourcols .three {
    width: 15%;
    float: left;
    margin: 0 30px 0 0;
}

.form .fourcols .four {
    width: 15%;
    float: left;
    margin: 0 30px 0 0;
}

h2 .right {
    float:right;
}

.h2-reference {
    width: 300px;
    font-weight: normal;
    text-align: right;
    padding: 0;
    margin: 0;
}

#quick-search {    
    width: 300px;
    font-weight: normal;
    text-align: right;
    padding: 0;
    margin: 0;
}

h2 .right label {
    color:#666666;
    padding: 0 2px 0 0;
    font-size: 0.6em;
    display: inline;
}

#quick-search input {
    display: inline;
    width: 150px;
    font-size: 0.7em;
}

#user-navigation {
    position: absolute;
    top: 0px;
    right: 10px;
}

#user-navigation ul li.blank, #user-navigation ul li a:link, #user-navigation ul li a:visited {
  color: #fff;
  padding: 1px 0;
}

#user-navigation ul li a:hover {
    text-decoration: underline;
}

.blue-box {
    border: 1px solid #C0D1EC;
    background: #F2F5FB;
    padding: 6px 10px 2px;
}

.blue-box h2 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
}

.blue {
    background: #EDF3FE;
}

.light_label {
    font-size:12px;
}

#sidebar .block .top {
    margin-top: 15px;
}

.table th.text-right {
    text-align: right;
}

.table th.text-center {
    text-align: center;
}

.table th {
    padding: 10px 5px;
    font-weight: bold;
}

.table td.right {
	text-align: right;
}

.table .row:hover {
    background: #FFC;
}

#sidebar h3 {
    padding: 10px 2px;
    font-weight: bold;
}

.notice ul {
    padding: 0;
    margin:0;
}

.notice ul li {
    margin: 10px 0;
    padding: 0;
    display: inline;
    width:100%;
    border-bottom: none;
}

.notice table {
    margin: 5px 0 0 0;
    width: 100%;
    border-collapse: collapse;
}

.notice table th {
    background-color: #EAEAEA;
    color: #222222;
    font-weight: normal;
    padding: 5px;
}

.notice table tr {
    height: 23px;
}

.table td {
    padding: 5px;
}

.w20 {
    width: 20%;
}

.w80 {
    width: 80%;
}

#sidebar .block .content {
    padding: 0 7px;
}

.strong {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.greybg {
    background: #EAEAEA;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
}

.error ul {
    margin: 5px 0 0 30px;
}

.field_with_errors input {
    background-color: #FFBABA;
}

table#products.table tfoot {
    font-size: 14px;
}

#permanent-message a {
    color: white;
}

.actions a.button {
    margin: 0 0 10px 0;
}

.message {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #999;
    text-shadow: 0 1px 0 #888;
}

.group br {
    margin: 0 0 5px 0;
}
