#message {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    opacity: 0.9;
    display: block;
    background-color: #003048;
    z-index: 100;
}

#message {
    list-style-type: none;
}

#message li {
    color: white;
    padding: 0;
    margin:20px;
    font-size: 18px;
    border: none;
}

#permanent-message {
    width: 100%;
    background-color: #003048;
}

#permanent-message ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#permanent-message ul li {
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 15px;
    border: none;
}

#error_explanation h2 {
    display: none;
}
