#main-navigation
  %ul.wat-cf
    %li.first{:class => "#{current_page?(:controller => 'customers') ? 'active' : ''}"}= link_to t("assur.customer.Customers"), customers_url
    %li{:class => "#{current_page?(:controller => 'bills') ? 'active' : ''}"}= link_to t("assur.bill.Bills"), bills_url