= f.hidden_field(:_destroy) unless f.object.new_record?
= link_to(image_tag("web-app-theme/icons/cancel.png", :alt => "#{t("assur.general.save")}", :size => '16x16'), "##{f.object.class.name.underscore}", :class => 'remove')