- if (state == 2) # late 
  - colors = 'statusr'
  - label = 'Retard'
- elsif (state == 1) # send
  - colors = 'statusy'
  - label = 'Envoye'
- elsif (state == 3) # pais 
  - colors = 'statusg'
  - label = 'paye'
  
- unless state == 0
  .status{:class => colors}
    .statusi
      .name
        %span
          = label