.block
  .sidebar-block
    %p= link_to image_tag("web-app-theme/icons/page_add.png", :alt => t('assur.bill.new_bill')) + " " + t('assur.bill.new_bill'), new_bill_path(:c => customer.id), :class => "button"