.block.notice
  %h3= t('assur.company.Practical_information')
  .content
    %p= raw t('assur.customer.index_help')
    %p= raw t('assur.customer.label_help')
    %p= raw t('assur.customer.create_button_help')
    